                                                    /* start global */
                                                    
                                                    * {
                                                        -webkit-box-sizing: border-box;
                                                        -moz-box-sizing: border-box;
                                                        box-sizing: border-box;
                                                    }
                                                    
                                                    .container {
                                                        width: 1200px;
                                                        margin: auto;
                                                    }
                                                    
                                                    ul {
                                                        list-style: none;
                                                        padding: 0;
                                                        margin: 0;
                                                    }
                                                    /* end global */
                                                    /* start navbar */
                                                    
                                                    .navbar {
                                                        font-size: 18px;
                                                        height: 0;
                                                        color: #FFF;
                                                        position: relative;
                                                        z-index: 2;
                                                    }
                                                    
                                                    .navbar .brand {
                                                        float: left;
                                                        width: 50%;
                                                        margin-top: 15px;
                                                        text-transform: uppercase;
                                                        margin-top: 10px;
                                                    }
                                                    
                                                    .navbar .brand strong {
                                                        background: transparent;
                                                        color: #1abc9c;
                                                    }
                                                    
                                                    .navbar .links {
                                                        float: left;
                                                        width: 50%;
                                                        margin-top: 25px;
                                                        font-weight: bold;
                                                    }
                                                    
                                                    .navbar .links li {
                                                        display: inline-block;
                                                        padding: 10px 0px;
                                                        margin: 0 10px;
                                                        text-transform: uppercase;
                                                        border-bottom: 2px solid transparent;
                                                    }
                                                    
                                                    .navbar .links li a {
                                                        color: #FFF;
                                                        text-decoration: none;
                                                    }
                                                    
                                                    .navbar .links li.active a,
                                                    .navbar .links li a:hover {
                                                        color: #1abc9c;
                                                        border-bottom: 2px solid #1abc9c;
                                                    }
                                                    /* end navbar */
                                                    /* Start header */
                                                    
                                                    .header {
                                                        background: url("../images/header.jpg");
                                                        position: relative;
                                                    }
                                                    
                                                    .header .overlay {
                                                        background-color: rgb(119 108 108 / 40%);
                                                        position: absolute;
                                                        top: 0;
                                                        bottom: 0;
                                                        left: 0;
                                                        right: 0;
                                                        height: 100%;
                                                        width: 100%;
                                                        /* color: #FFF; */
                                                        z-index: 1;
                                                    }
                                                    
                                                    .header .bx-wrapper {
                                                        box-shadow: none;
                                                        border: 0;
                                                        background: none;
                                                        color: #FFF;
                                                        height: 100% !important;
                                                    }
                                                    
                                                    .header .bx-wrapper .bx-viewport {
                                                        box-shadow: none;
                                                        border: 0;
                                                        background: transparent;
                                                        height: 100% !important;
                                                        text-align: center;
                                                    }
                                                    
                                                    .header .bxslider {
                                                        height: 100% !important;
                                                    }
                                                    
                                                    .header .bxslider li {
                                                        display: block;
                                                        height: 200px;
                                                        color: white;
                                                        font-weight: bolder;
                                                    }
                                                    
                                                    .header .bxslider li h2 {
                                                        font-size: 60px;
                                                        margin-bottom: 20px;
                                                        margin-top: 0;
                                                    }
                                                    
                                                    .header .bxslider li h2 span strong {
                                                        color: #1abc9c;
                                                    }
                                                    
                                                    .header .bxslider li p {
                                                        color: ;
                                                    }
                                                    /* End Header */
                                                    /* Start Services */
                                                    
                                                    .services {
                                                        padding: 80px 20px 40px;
                                                        position: relative;
                                                    }
                                                    
                                                    .services h2 {
                                                        margin-top: 0 0 50px;
                                                        font-weight: normal;
                                                    }
                                                    /* .services h2:after {
                                                content: "";
                                                display: block;
                                                position: absolute;
                                                top: 40px;
                                                left: 0px;
                                                width: 40px;
                                                border-bottom: 2px solid #333;
                                            }
                                             */
                                                    
                                                    .services .item {
                                                        float: left;
                                                        width: 33.333333%;
                                                        margin-bottom: 20px;
                                                    }
                                                    
                                                    .services .item i {
                                                        color: #1abc9c;
                                                        float: left;
                                                        width: 17%;
                                                        margin-right: 8%;
                                                        margin-top: 10px;
                                                    }
                                                    
                                                    .services .item .info {
                                                        float: left;
                                                        width: 75%;
                                                    }
                                                    
                                                    .services .item .info h3 {
                                                        color: #585353;
                                                        font-weight: normal;
                                                        margin-bottom: 10px;
                                                    }
                                                    
                                                    .services .item .info p {
                                                        margin-top: 0;
                                                        color: #888;
                                                    }
                                                    
                                                    .our-team {
                                                        padding: 40px 20px 40px;
                                                    }
                                                    
                                                    .our-team h2 {
                                                        font-weight: normal;
                                                        color: #585353;
                                                        margin-bottom: 10px;
                                                        padding: 0 0 15px;
                                                    }
                                                    
                                                    .our-team .box {
                                                        float: left;
                                                    }
                                                    
                                                    .our-team .box p {
                                                        color: #888;
                                                        font-size: 15px;
                                                    }
                                                    
                                                    .our-team .box img {
                                                        width: 100%;
                                                        /* margin: 10px; */
                                                        height: 100%;
                                                    }
                                                    
                                                    .our-team .box:first-child {
                                                        width: 35%;
                                                    }
                                                    
                                                    .our-team .box:not(:first-child) {
                                                        width: 15.25%;
                                                        margin-left: 1%;
                                                        position: relative;
                                                        transition: all 1s ease-in-out;
                                                    }
                                                    
                                                    .our-team .box:not(:first-child) .overlay {
                                                        position: absolute;
                                                        width: 100%;
                                                        top: 0;
                                                        left: 0;
                                                        bottom: 0;
                                                        right: 0;
                                                        height: 100%;
                                                        background-color: rgba(26, 188, 156, 0.8);
                                                        line-height: 190px;
                                                        font-size: 20px;
                                                        font-weight: bold;
                                                        color: #FFF;
                                                        text-align: center;
                                                        display: none;
                                                    }
                                                    
                                                    .our-team .box:not(:first-child) .overlay strong {
                                                        color: black;
                                                    }
                                                    
                                                    .our-team .box:not(:first-child):hover .overlay {
                                                        display: block;
                                                    }
                                                    /* text-align: center; */
                                                    /* End services */
                                                    /* Start testimonial */
                                                    
                                                    .testimonial {
                                                        background: url('../images/image5.jpg');
                                                        height: 500px;
                                                        -webkit-background-size: cover;
                                                        -moz-background-size: cover;
                                                        -o-background-size: cover;
                                                        background-size: cover;
                                                        position: relative;
                                                        text-align: center;
                                                        padding: 80px 0;
                                                    }
                                                    
                                                    .testimonial .t-overlay {
                                                        position: absolute;
                                                        width: 100%;
                                                        top: 0;
                                                        left: 0;
                                                        bottom: 0;
                                                        right: 0;
                                                        height: 100%;
                                                        background-color: rgb(193 253 241 / 30%);
                                                        font-size: 20px;
                                                        font-weight: bold;
                                                        color: #FFF;
                                                    }
                                                    
                                                    .testimonial h2 {
                                                        margin: 80px 0 10px;
                                                        font-size: 40px;
                                                    }
                                                    
                                                    .testimonial q {
                                                        font-size: 20px;
                                                        line-height: 2;
                                                        margin-top: 60px;
                                                        display: block;
                                                    }
                                                    
                                                    .testimonial p {
                                                        font-size: 30px;
                                                        color: white;
                                                    }
                                                    
                                                    .testimonial q strong {
                                                        color: #1abc9c;
                                                    }
                                                    
                                                    .testimonial p strong {
                                                        color: #fb3f3f;
                                                    }
                                                    /*  */
                                                    
                                                    .testimonial .slider>div {
                                                        display: none;
                                                    }
                                                    
                                                    .testimonial .slider .active {
                                                        display: block;
                                                    }
                                                    /* end testimonial */
                                                    /* Start our projects */
                                                    
                                                    .our-projects {
                                                        padding: 60px 0;
                                                    }
                                                    
                                                    .our-projects {
                                                        font-weight: normal;
                                                    }
                                                    
                                                    .our-projects ul {
                                                        margin-top: 50px;
                                                    }
                                                    
                                                    .our-projects ul li {
                                                        display: inline-block;
                                                        border: 1px solid #D4CCCC;
                                                        border-radius: 5px;
                                                        padding: 10px;
                                                        color: #A7A7A7;
                                                        margin-right: 5px;
                                                    }
                                                    
                                                    .our-projects ul li.active {
                                                        background-color: #1abc9c;
                                                        color: #FFF;
                                                        border: 1px solid #1abc9c;
                                                    }
                                                    
                                                    .our-projects .gallery {
                                                        margin-top: 50px;
                                                        overflow: hidden;
                                                    }
                                                    
                                                    .our-projects .gallery .row>div:nth-child(2) {
                                                        margin-right: 1%;
                                                        margin-left: 1%;
                                                    }
                                                    
                                                    .our-projects .gallery .row>div {
                                                        width: 32.666666%;
                                                        float: left;
                                                        margin-bottom: 12px;
                                                        position: relative;
                                                    }
                                                    
                                                    .our-projects .gallery .row>div .over {
                                                        position: absolute;
                                                        width: 100%;
                                                        top: 0;
                                                        left: 0;
                                                        bottom: 0;
                                                        right: 0;
                                                        height: 100%;
                                                        background-color: rgba(26, 188, 156, 0.8);
                                                        line-height: 232px;
                                                        font-size: 20px;
                                                        font-weight: bold;
                                                        color: #FFF;
                                                        text-align: center;
                                                        display: none;
                                                    }
                                                    
                                                    .our-projects .gallery .row>div .heart {
                                                        position: absolute;
                                                        bottom: 20px;
                                                        right: 20px;
                                                        color: #FFF;
                                                        display: none;
                                                    }
                                                    
                                                    .our-projects .gallery .row>div:hover .over,
                                                    .our-projects .gallery .row>div:hover .heart {
                                                        display: block;
                                                    }
                                                    
                                                    .our-projects .gallery .row>div img {
                                                        width: 100%;
                                                    }
                                                    /* .mix {
                                                        display: none;
                                                    } */
                                                    /* .our-projects .container {
                                                        background-color: #EEE;
                                                    } */
                                                    /* end our projects */
                                                    /* Start footer */
                                                    
                                                    .footer {
                                                        background-color: #232323;
                                                        color: #6C6C6C;
                                                        padding: 40px;
                                                        overflow: hidden;
                                                    }
                                                    
                                                    .footer .col {
                                                        width: 25%;
                                                        float: left;
                                                    }
                                                    
                                                    .footer .col h2 {
                                                        color: #FFF;
                                                        font-weight: normal;
                                                        font-size: 18px;
                                                    }
                                                    
                                                    .footer .col p {
                                                        margin-bottom: 30px;
                                                        line-height: 1.6;
                                                    }
                                                    
                                                    .footer .col i {
                                                        display: inline-block;
                                                        color: #979797;
                                                        border: 1px solid #979797;
                                                        width: 40px;
                                                        padding: 10px;
                                                    }
                                                    
                                                    .footer .copyright {
                                                        margin-top: 30px;
                                                    }
                                                    
                                                    .footer .tags span {
                                                        display: inline-block;
                                                        color: #979797;
                                                        border: 1px solid #979797;
                                                        padding: 10px;
                                                        margin-bottom: 10px;
                                                        margin-right: 5px;
                                                    }
                                                    
                                                    .footer .recent div {
                                                        overflow: hidden;
                                                        margin-bottom: 10px;
                                                    }
                                                    
                                                    .footer .recent div img {
                                                        float: left;
                                                        margin-right: 10px;
                                                    }
                                                    
                                                    .footer .recent div h4 {
                                                        margin: 6px 0 6px;
                                                        font-weight: normal;
                                                        color: #CCC;
                                                    }
                                                    
                                                    .footer .blog ul li {
                                                        padding: 15px;
                                                        border-bottom: 1px solid #979797;
                                                        color: #CCC;
                                                    }
                                                    /* End Footer */
                                                    /* start my framework */
                                                    
                                                    .clearfix {
                                                        clear: both;
                                                    }
                                                    
                                                    .special-heading {
                                                        position: relative;
                                                    }
                                                    
                                                    .special-heading:after {
                                                        content: "";
                                                        display: block;
                                                        position: absolute;
                                                        top: 40px;
                                                        left: 0px;
                                                        width: 40px;
                                                        border-bottom: 2px solid #333;
                                                    }
                                                    
                                                    .separator {
                                                        border: 1px solid #EEE;
                                                        display: block;
                                                        margin:
                                                    }
                                                    /* end my framwork */